/* animations.css */
@keyframes slideInText {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInImage {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes eventAnimation {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  