/* Слайд для пользовательских историй */
#user-stories {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}

/* Заголовок слайда по центру */
#user-stories h2 {
    color: #e3c08b;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
}

/* Контейнер для историй с прокруткой */
.stories-container {
    display: flex;
    flex-direction: column;
    gap: 50px; 
    overflow-y: scroll; 
    width: 100%; 
    height: calc(100vh - 60px); 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    padding-right: 10px;
    box-sizing: content-box; 
}

/* Скрытие скроллбаров в Webkit-браузерах */
.stories-container::-webkit-scrollbar {
    display: none;
}

/* Секция с историей */
.story-category h3 {
    color: #e3c08b;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

/* Карточка для одной истории */
.story-card {
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    padding: 15px 25px;
    margin: 15px;
    color: #ffffff;
    line-height: 1.6; 
    width: 100%;
    box-sizing: border-box; 
}

.story-card strong {
    display: block;
    font-size: 1.3em;
    color: #e3c08b;
    margin-bottom: 15px;
}
